@inherits LayoutComponentBase
@using MeTenTenMaui.Services
@inject IAuthService AuthService
@inject NavigationManager Navigation

<div class="page">
    <main>
        <div class="top-row px-4">
            <h1 class="navbar-brand">ME 10&10</h1>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
}