<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MeTenTen</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 홈
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/topics">
                <span class="bi bi-journal-text" aria-hidden="true"></span> 주제 관리
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/diaries">
                <span class="bi bi-book" aria-hidden="true"></span> 일기
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/partner">
                <span class="bi bi-people" aria-hidden="true"></span> 파트너
            </NavLink>
        </div>
    </nav>
</div>

